.agile-principles {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .agile-principles h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .agile-principles p {
    color: #555;
    margin-bottom: 15px;
  }
  
  .agile-principles ol {
    margin-left: 20px;
  }
  
  .agile-principles li {
    margin-bottom: 10px;
  }
  
  .fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 1200ms ease-out, transform 600ms ease-out,
      visibility 1200ms ease-out;
    will-change: opacity, transform, visibility;
  }
  .fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }


.box {
    padding: 50px;
    margin: 20px 0;
  }
  
  .box span {
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    font-size: xx-large;
    font-family: Arial; /* Modern, readable font */
    font-weight: 700; /* Normal font weight */
    color: #333;
  }
