.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    padding: 20px;
    background-color: #f0f0f0; /* Light grey background */
    color: #333; /* Dark grey text for contrast */
    font-family: 'Arial', sans-serif;
  }
  
  .content {
    text-align: center;
    max-width: 600px;
  }
  
  .content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #555;
  }
  
  .navigate-button {
    padding: 10px 20px;
    background-color: rgb(49, 49, 49); 
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  .navigate-button:hover {
    background-color: #858585; 
  }
  